* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    width: 99vmin;
    height: 99vmin;
    background-color: #000
}
